.bgcolor {
	background-color:#dfEbE9;
}
.full {
	height: 100%;
	width: 100%;
}

span.search a {
	padding-right: 16px;
	margin-right: 2px;
	color: #888888;
	/* @embed */ background: url(images/searchgray_iconsmall.png) center right no-repeat;
}
